<div class="example-container">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row tab-inline">
    <a mat-flat-button color="primary" [routerLink]="['/task-add']">Add Task</a>
    <a mat-flat-button color="primary" [routerLink]="['/tasks']">View Task</a>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource" class="example-table mat-elevation-z8" matSort>
      <!-- Task name Column -->
      <ng-container matColumnDef="task_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Task</th>
        <td mat-cell *matCellDef="let row">{{row.task}}</td>
      </ng-container>

      <!-- Parent Task Title Column -->
      <ng-container matColumnDef="parent_task">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent Task</th>
        <td mat-cell *matCellDef="let row">{{row.parentTask.name}}</td>
      </ng-container>

      <!-- Task Priority Column -->
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
        <td mat-cell *matCellDef="let row">{{row.priority}}</td>
      </ng-container>

      <!-- Task Start Date Column -->
      <ng-container matColumnDef="start_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start</th>
        <td mat-cell *matCellDef="let row">{{row.startDate | date: 'dd/MM/yyyy'}}</td>
      </ng-container>

      <!-- Task End Date Column -->
      <ng-container matColumnDef="end_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>End</th>
        <td mat-cell *matCellDef="let row">{{row.endDate | date: 'dd/MM/yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
          <a mat-flat-button color="primary" [routerLink]="['/task-edit', row.id]">Edit</a>
          <a mat-flat-button color="primary" [routerLink]="['/task-edit', row.id]">End Task</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
  </div>
</div>