<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <!--<div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/tasks']">Back to View Tasks</a>
  </div> -->
  <mat-card class="example-card">
    <form [formGroup]="taskForm" (ngSubmit)="onFormSubmit(taskForm.value)">
      <mat-form-field class="example-full-width">
        <mat-label>Task</mat-label>
        <input matInput placeholder="Task" formControlName="task"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!taskForm.get('task').valid && taskForm.get('task').touched">Please enter Task</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Parent Task</mat-label>
        <input type="text" aria-label="Text" matInput [formControl]="parentTask" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedclient($event)" [displayWith]="getOptionText">
            <mat-option *ngFor="let option of parentTasks; let i = index" [value]="option">
              {{ option.name }}
            </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <label>Priority</label>
      <mat-slider aria-label="Priority" aria-labelledby="Priority" thumbLabel [displayWith]="formatLabel" formControlName="priority" (input)="onChange($event)" tickInterval="1" min="1" max="30"></mat-slider>
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker] = "startDatePicker" placeholder = "Start Date" 
        formControlName="startDate" [errorStateMatcher]="matcher">
        <mat-datepicker-toggle matSuffix [for] = "startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
        <mat-error>
          <span *ngIf="!taskForm.get('startDate').valid && taskForm.get('startDate').touched">Please choose a start date</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker] = "endDatePicker" placeholder = "End Date" 
        formControlName="endDate" [errorStateMatcher]="matcher">
        <mat-datepicker-toggle matSuffix [for] = "endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
        <mat-error>
          <span *ngIf="!taskForm.get('endDate').valid && taskForm.get('endDate').touched">Please choose a end date</span>
        </mat-error>
      </mat-form-field>
      
      <div class="button-row">
        <button type="submit" [disabled]="!taskForm .valid" mat-flat-button color="primary">Update</button>
        <a mat-flat-button color="primary" [routerLink]="['/tasks']">Cancel</a>
      </div>
    </form>
  </mat-card>
</div>

